   * {
       box-sizing: border-box;
   }
   
   body {
       background: linear-gradient(to right, white, white);
       /* Initial background */
       transition: background .5s;
       /* .5s how long transitions shoould take */
   }
   @media (max-width: 1000px) {
    .imagetext{display:none;}
}
   /*body {
       font-family: "Calibri", "Roboto", sans-serif;
       background: rgba(255, 255, 255, 1);
       background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(107, 107, 107, 1) 100%);
       background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(107, 107, 107, 1)));
       background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(107, 107, 107, 1) 100%);
       background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(107, 107, 107, 1) 100%);
       background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(107, 107, 107, 1) 100%);
       background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(107, 107, 107, 1) 100%);
       filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6b6b6b', GradientType=1);
       position: absolute;
       left: 0px;
       right: 0px;
       top: 0px;
       bottom: 0px;
   }*/
   .text h1{
       font-family: "open sans";
       font-weight:700;
       letter-spacing:-.01em;
       text-align:center;
      margin-bottom:15px;
   }
   
   .imagereader {
       position: absolute;
       top: 15%;
       background: url("images/supportcat.jpg");
       bottom: 0px;
       left: 20%;
       height: 280px;
       width: 270px;
       background-position: center center;
       background-size: 100% 100%;
   }
   
   .chat_window {
       position: absolute;
       height: 500px;
       border-radius: 10px;
       background-color: #fff;
       width: 60%;
       max-width: 400px;
       right: -10%;
       top: 50%;
       transform: translateX(-50%) translateY(-50%);
       box-shadow: 0px 1px 20px 15px rgba(0, 0, 0, 0.28);
       background-color: #f8f8f8;
       overflow: hidden;
   }
   
   .top_menu {
       background-color: green;
       width: 100%;
       padding: 20px 0 15px;
       box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
   }
   
   .top_menu .title {
       text-align: center;
       color: #bcbdc0;
       font-size: 20px;
   }
   
   .messages {
       position: relative;
       list-style: none;
       padding: 20px 10px 0 10px;
       margin: 0;
       height: 347px;
       overflow-x: hidden;
   }
   
   .messages .message {
       clear: both;
       overflow: hidden;
       margin-bottom: 20px;
       transition: all 0.5s linear;
       opacity: 0;
   }
   
   .messages .message.left .avatar {
       background-color: #f5886e;

       float: left;
   }
   .messages .message.left .avatar img{
       width:0!important;
   }

   .messages .message.left .text_wrapper {
       background-color: #ffe6cb;
       margin-left: 20px;
   }
   
   .messages .message.left .text_wrapper::after,
   .messages .message.left .text_wrapper::before {
       right: 100%;
       border-right-color: #ffe6cb;
   }
   
   .messages .message.left .text {
       color: black;
        font-family: cursive;
   }
   
   .messages .message.right .avatar {
       float: right;
       position:relative;
       background: url("images/chatbot.jpg");
   }
   
   .messages .message.right .text_wrapper {
       background-color: #c7eafc;
       margin-right: 20px;
       float: right;
   }
   
     .messages .message.right .avatar img{
         top: 10px;
         width:79% !important;
         left:7px;
         position:absolute;
   }
   .messages .message.right .text_wrapper::after,
   .messages .message.right .text_wrapper::before {
       left: 100%;
       border-left-color: #c7eafc;
   }
   
   .messages .message.right .text {
       color: #45829b;
       font-family: cursive;
   }
   
   .messages .message.appeared {
       opacity: 1;
       
   }
   
   .messages .message .avatar {
       width: 60px;
       height: 60px;
       border-radius: 50%;
       display: inline-block;
   }
   
   .messages .message .text_wrapper {
       display: inline-block;
       padding: 20px;
       border-radius: 6px;
       width: calc(100% - 85px);
       min-width: 100px;
       position: relative;
   }
   
   .messages .message .text_wrapper::after,
   .messages .message .text_wrapper:before {
       top: 18px;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
   }
   
   .messages .message .text_wrapper::after {
       border-width: 13px;
       margin-top: 0px;
   }
   
   .messages .message .text_wrapper::before {
       border-width: 15px;
       margin-top: -2px;
   }
   
   .messages .message .text_wrapper .text {
       font-size: 18px;
       font-weight: 300;
   }
   
   .bottom_wrapper {
       position: relative;
       width: 100%;
       background-color: #fff;
       padding: 20px 20px;
       position: absolute;
       bottom: 0;
   }
   
   .bottom_wrapper .message_input_wrapper {
       display: inline-block;
       height: 50px;
       border-radius: 25px;
       border: 1px solid #bcbdc0;
       width: 76%;
       position: relative;
       padding: 0 20px;
   }
   
   .bottom_wrapper .message_input_wrapper .message_input {
       border: none;
       height: 100%;
       box-sizing: border-box;
       width: calc(100% - 40px);
       position: absolute;
       outline-width: 0;
       color: gray;
   }
   
   .bottom_wrapper .send_message {
       width: 65px;
       height: 50px;
       display: inline-block;
       border-radius: 50px;
       background-color: green;
       border: 2px solid #a3d063;
       color: #fff;
       cursor: pointer;
       transition: all 0.2s linear;
       text-align: center;
       float: right;
   }
   
   .bottom_wrapper .send_message:hover {
       color: #a3d063;
       background-color: #fff;
   }
   
   .bottom_wrapper .send_message .text {
       font-size: 18px;
       font-weight: 300;
       display: inline-block;
       line-height: 48px;
   }
   
   .message_template {
       display: none;
   }